.routeAnimation-enter-active,
.routeAnimation-leave-active {
  transition: 0.2s ease;
  transform: scale(100%);
}

.routeAnimation-enter-from,
.routeAnimation-leave-to {
  opacity: 0;
  transform: scale(95%);
}
