// @layer reset, theme, layout, content, components, utility;

$primary-color: rgb(124 58 237);

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

$primary: $primary-color;

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary-color,
  )
);

@import "bootstrap";
@import "./reset.scss";
@import "./theme.scss";
@import "./layout.scss";
@import "./content.scss";
@import "./components.scss";
@import "./utils.scss";
@import "./transition.scss";

// @layer reset {
// }
// @layer theme {
// }
// @layer layout {
// }
// @layer content {
// }
// @layer components {
// }
// @layer utility {
// }
// @layer {
// }
