.routeAnimation-enter-active,
.routeAnimation-leave-active {
  transition: 0.2s ease;
  transform: scale(100%);
}

.routeAnimation-enter-from,
.routeAnimation-leave-to {
  opacity: 0;
  transform: scale(95%);
}

.themeIcon-enter-active,
.themeIcon-leave-active {
  transition: 0.1s linear;
}

.themeIcon-enter-from,
.themeIcon-leave-to {
  opacity: 0;
}

.fadeTransition-enter-active,
.fadeTransition-leave-active {
  transition: 0.2 ease;
}

.fadeTransition-enter-from,
.fadeTransition-leave-to {
  opacity: 0;
}
