/* .routeAnimation-enter-active,
 .routeAnimation-leave-active {
   transition: 0.2s ease;
   transform: scale(100%);
 }

 .routeAnimation-enter-from,
 .routeAnimation-leave-to {
   opacity: 0;
   transform: scale(95%);
} */

.routeAnimation-enter-active,
.routeAnimation-leave-active {
  transition: all 0.2s;
}

.routeAnimation-enter-from,
.routeAnimation-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.themeIcon-enter-active,
.themeIcon-leave-active {
  transition: 0.1s linear;
}

.themeIcon-enter-from,
.themeIcon-leave-to {
  opacity: 0;
}

.fadeTransition-enter-active,
.fadeTransition-leave-active {
  transition: 0.2 ease;
}

.fadeTransition-enter-from,
.fadeTransition-leave-to {
  opacity: 0;
}

.navbarAnimation-enter-active,
.navbarAnimation-leave-active {
  transition: all 0.2s;
  transform: translateY(48px);
}

.navbarAnimation-enter-from,
.navbarAnimation-leave-to {
  transform: translateY(-48px);
}
